$blue:#16213E;
$blue-transparent: rgba(33, 63, 164, 0.7);

$border:  0.5rem solid #E94560;

$font-color: #eee;

$gradient: linear-gradient(to bottom right,rgba(22, 33, 62,0.8), 80%, rgba(233, 69, 96,0.5)),  url(img/pexels-tanathip-rattanatum-2026451.jpg);